JAVA=/usr/bin/java
GRAYLOG_SERVER_JAVA_OPTS="-Xms{{ graylog_initial_heap_space }} -Xmx{{ graylog_maximum_heap_space }} {{ graylog_java_opts }}"
GRAYLOG_SERVER_ARGS="{{ graylog_server_args }}"
GRAYLOG_COMMAND_WRAPPER="{{ graylog_command_wrapper }}"
